.footer{
    width: 1400px;
    height: 450px;
    background-color: #072125;
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    .footer2{
        .footer3{
            display: flex;
                justify-content: space-around;
                align-items: center;
                line-height: 30px;
                padding: 100px;
            h1{
                font-size: 32px;
            }
            .footer4{
                line-height: 40px;
                
                .footer7{
                    input{
                        width: 250px;
                        height: 35px;
                    }
                    button{
                        height: 35px;
                        width: 100px;
                        
                    }
                }  
            }
        }
    }  
    .footer11{
        h2{
            text-align: center;
            padding: 20px;
        }
    }
    }
 