.sec3{
    .container3{
        .img11{
            display: none;
        }
        .button2{
            display: none;
        }
            .textButton{
                display: flex;
                justify-content: space-around;
                align-items: center;
                h2{
                    font-family: 'Josefin Slab', serif;
                    font-size: 50px;
                }
                .button1{
                    width: 150px;
                    height: 50px;
                    &:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }
            .img1{
                display: flex;
                justify-content: space-around;
                align-items: center;    
                img{
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
            .img2{
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
}
@media only screen and (max-width:767px) {
    .sec3{
        .container3{
           flex-direction: column;
           .textButton{
            .button1{
                display: none;
            }
           }
            .img1{
                display: none;
               
            }
            .img2{
                display: none;
            }
            .img11{
                display: block;
            }
            .btn{
                margin-left: 250px;
                .button2{
                    display: block;
                    width: 150px;
                    height: 50px;
                    &:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
    
}