.sect1{
    height: 100vh ;
    border: 1px solid black;
    background-color: yellowgreen;
    .text1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18%;
        column-gap: 20px;

        .text2{
            border: 1px solid orange;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            transition: all 2s;
            img{
                display: none;
                width: 200px;
                height: 200px;
                border: 1px solid black;
            }
            &:hover{
                
                    transform: rotateX(360deg);
                
                h2{
                    display: none;
                }
                img{
                    display: block;
                }
                
            }
           
            
        }
    }
    
    
}
